.vscode
.DS_Store
settings.json
*tmp*
specification/source/_build
specification/build/latex/*
!specification/build/latex/Linkage.pdf
!specification/build/latex/Linkage_Requirements_Document_10-2020_V1.pdf
